.navbar-brand {
    padding: 5px;
}

.logo {
    max-height: 100%;
}

#bod {
    background-image: url(images/pattern.png);
    background-repeat: repeat;
}

.container{
    position: relative;
    top: 150px;
}

#navigator {
    background-color: #ED0000;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#navigator a {
    color: #fff;
}

.user-row {
    margin-bottom: 14px;
}

#search {
    margin-right: 15px;
    padding-right: 5px;
    margin-top: 3px;
}

#landing_table {
    background-color: #fff;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 150px;
}

#landing_table th {
    background-color: #D9EDF7;
    color: #317bb2;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}

.table-user-information > tbody > tr > td {
    border-top: 0;
}

.toppad {
    margin-top: 20px;
}

.monster {
    height: 150px;
}

#search {
    width: 400px;
    margin-top: 8px;
}

#mondes {
    width: 150px;
    text-align: center;
}

#monsterBox {
    width: 80%;
}

.monsterImg {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 150px;
}

.type {
    width: 100px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
}

.typeB {
    width: 100px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

/*
.tableRows{
    position: relative;
    top: 150px;
}
*/

.Grass {
    background-color: #9BCC50;
}

.Poison {
    background-color: #B97FC9;
}

.Fire {
    background-color: #FD7D24;
}

.Ice {
    background-color: #51C4E7;
}

.Flying {
    background-color: #51FFE7;
}

.Psychic {
    background-color: #F366B9;
}

.Dark {
    background-color: #000000;
    color: white;
}

.Water {
    background-color: #000066;
    color: white;
}

.Fairy {
    background-color: #ffafd7;
}

.Rock {
    background-color: #A38C21;
}

.Bug {
    background-color: #729F3F;
}

.Ground {
    background-color: #A99842;
}

.Electric {
    background-color: #EED535;
}

.Dragon {
    background-color: #F16E57;
}

.Ghost {
    background-color: #7B62A3;
}

.Steel {
    background-color: #9EB7B8;
}

.Normal {
    background-color: #A4ACAF;
}

.Fighting {
    background-color: #D56723;
    color: white;
}

.title {
    text-align: center;
}

.monName {
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
}

.monImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.monNum {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    ;
}

.parent {
    position: relative;
}

.child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}